@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: stardewFont;
    src: url(./assets/fonts/StardewValleyTextFont.otf);
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}

a {
    font-family: stardewFont;
    text-decoration: none;
    color: #282828;
}

a:hover{
    color: #c06f0d;
}

h3:hover{
    color: #c06f0d;
}

header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

header a{
    font-size: 2rem;
    margin-left: 6rem;
}

.title{
    font-size: 4rem;
    font-family: stardewFont;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 1rem;
    text-transform: uppercase;
}

.cake{
    width: 30px;
}
.aldeanos{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   text-align: center;
}
.aldeano-img{
    width: 35%;
}

.aldeano{
    cursor: pointer;
    margin: .5rem;
}
.aldeano-name{
    font-family: stardewFont;
    font-size: 2rem;
}

.hide{
    display: none;
}
.h2-alert{
    font-family: stardewFont;
    font-size: 4rem;
    color: black;
    padding-bottom: 1rem;
}
.p-alert{
    font-family: stardewFont;
    color: black;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}
footer{
    text-align: center;
}
.aldeano-cumpleaños{
    font-weight: bold;
}
.p-footer{
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    header{
        display: block;
    }
    header a{
        margin: 0 auto;
        width: 100%;
        font-size: 2rem;
    }
    .p-alert{
        width: 100%;
    }
    .title{
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0;
        padding-top: 0;

    }
    .aldeanos{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
     }

     .themeButton{
        margin: 0 auto;
        margin-bottom: .5rem;
        margin-top: .5rem;
     }
  }


  /* Tema Oscuro */
.dark-theme {
    background-color: #282828; /* Fondo oscuro */
    color: #ffffff; /* Texto claro */
  }
  
  .dark-theme h1 {
    color: #ffffff; /* Negro para h1 */
  }
  
  .dark-theme p,
  .dark-theme h3,
  .dark-theme a.donacion{
    color: #ffffff; /* Blanco para p, h3 y a */
  }
  
  /* Tema Claro */
  .light-theme {
    background-color: #ffffff; /* Fondo claro */
    color: #282828; /* Texto oscuro */
  }
  
  .light-theme h1 {
    color: #282828; /* Blanco para h1 */
  }
  
  .light-theme p,
  .light-theme h3,
  .light-theme .donacion{
    color: #282828; /* Negro para p, h3 y a */
  }
  /* Botón tema */
  .light-theme .themeButton{
    border: 2px solid #282828;
    color: #282828;
  }
  .dark-theme .themeButton{
    border: 2px solid #ffffff;
    color: #ffffff;
  }
  

  /* Estilos para el botón */
.themeButton {
    display: block;
    padding: 10px 20px;
    background-color: #00A5CF; /* Color de fondo azul claro */
    color: #ffffff; /* Texto blanco */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
    
  }
  
  /* Cambiar el color de fondo al pasar el mouse sobre el botón */
  .themeButton:hover {
    background-color: #c06f0d; /* Color ligeramente más oscuro al pasar el mouse */
  }
  
  /* Cambiar el color de fondo cuando el botón está activo (clic) */
  .themeButton:active {
    background-color: #282828; /* Color aún más oscuro cuando se hace clic */
  }
  